    
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <script src="{% static "js/sign_up.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "styles/sign_up.css" %}">
</head>


<body>
    <div id="fondo"></div>
    <div id="container">
        <div id="fondo_container"></div>
        <div id="container_content">
            <div class="material-icons" id="perm_identity">perm_identity</div>
            <div id="title">Sign Up</div>
            <form id="formulario_sign_up">
                <div class="label">Choose a Uername</div>
                <input type="text" placeholder="Username" id="Username">
                <div class="label">Email address</div>
                <input type="text" placeholder="Email" id="email">
                <div class="label">Password</div>
                <input type="password" placeholder="Password" id="password">
            </form>
            <div id="botones">
                <div><button onclick="save();" id="boton_accept" class="boton">SIGN UP</button></div>
            </div>
        </div>
    </div>
</body>
</html